.about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 830px;
  max-height: none;
  margin: 0 10px;
}

.about__title {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  letter-spacing: 0;
  margin-top: 92px;
  margin-bottom: 0;
}

.about__quote {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0;
  margin-top: 40px;
  margin-bottom: 0;
}

.about__author {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0;
  text-align: right;
  margin-top: 10px;
  margin-bottom: 0;
}
.about__description {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  letter-spacing: 0;
  margin-top: 32px;
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .about {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 10px;
    max-width: 720px;
  }

  .about__title {
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 45px;
    line-height: 49px;
    letter-spacing: 0;
    margin-top: 88px;
    margin-bottom: 0;
  }

  .about__quote {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0;
    margin-top: 36px;
    margin-bottom: 0;
  }

  .about__author {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0;
    text-align: right;
    margin-top: 10px;
    margin-bottom: 0;
    max-width: 720px;
  }

  .about__description {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    letter-spacing: 0;
    margin-top: 32px;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 320px) {
  .about {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 auto;
    width: 100vw;
  }

  .about__title {
    max-width: 288px;
    max-height: 175px;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 0;
    margin-top: 45px;
    margin-bottom: 0;
  }

  .about__quote {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0;
    margin-top: 24px;
    margin-bottom: 0;
    max-width: 288px;
  }

  .about__author {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0;
    text-align: right;
    margin-top: 7px;
    margin-bottom: 0;
    max-width: 288px;
    max-height: 34px;
  }

  .about__description {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    letter-spacing: 0;
    margin-top: 32px;
    margin-bottom: 0;
  }
}
