.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.hero__container {
  display: flex;
}

.hero__title {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  letter-spacing: 0;
  text-align: center;
  margin-top: 92px;
  margin-bottom: 0;
}

.hero__description {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 0;
}
.hero__image {
  max-width: 984px;
  width: 100%;
  max-height: 615px;
  margin-top: 64px;
}

@media screen and (max-width: 768px) {
  .hero {
    width: 100%;
  }

  .hero__title {
    max-width: 530px;
    max-height: 158px;

    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 75px;
    line-height: 79px;
    letter-spacing: 0;
    text-align: center;
  }

  .hero__description {
    max-width: 720px;
    max-height: 72px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0;
    text-align: center;
  }

  .hero__image {
    max-width: 768px;
    max-height: 480px;
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .hero__title {
    max-width: 228px;
    max-height: 88px;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 0;
    text-align: center;
  }

  .hero__description {
    max-width: 288px;
    max-height: 40px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0;
    text-align: center;
  }

  .hero__image {
    max-width: 300px;
    max-height: 200px;
  }
}
